<div class="cmd tooltips cmd cmd-widget fanSpeed#id#" data-type="action" data-subtype="slider" data-cmd_id="#id#" data-cmd_uid="#uid#">
    <!-- La partie CSS -->

    <style>
        div.fanSpeed#id# {
            margin-top: 0px;
            width: 175px;
            min-height: 35px;
            min-width: 175px;
        }
        .modeListe#id# {
            position: relative;
        }
        .modeListe#id# li {
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            top: 0;
            cursor:pointer;
        }
        .modeListe#id# li, .modeListe#id# i {
            height: 35px;
            display: block;
        }
        .modeListe#id# #vitesse1 {
            left: 0px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.FanSpeed/FanSpeed.png') 0 -35px;
        }
        .modeListe#id# #vitesse1 .selected, .modeListe#id# #vitesse1 i:hover {
            left: 0px;
            width: 35px;
            background: url("plugins/melcloud/core/template/dashboard/cmd.action.other.FanSpeed/FanSpeed.png") 0 0;
        }
        .modeListe#id# #vitesse2 {
            left: 35px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.FanSpeed/FanSpeed.png') -35px -35px;
        }
        .modeListe#id# #vitesse2 .selected, .modeListe#id# #vitesse2 i:hover{
            left: 35px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.FanSpeed/FanSpeed.png') -35px 0;
        }
        .modeListe#id# #vitesse3 {
            left: 70px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.FanSpeed/FanSpeed.png') -70px -35px;
        }
        .modeListe#id# #vitesse3 .selected, .modeListe#id# #vitesse3 i:hover{
            left: 70px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.FanSpeed/FanSpeed.png') -70px 0;
        }
        .modeListe#id# #vitesse4 {
            left: 105px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.FanSpeed/FanSpeed.png') -105px -35px;
        }
        .modeListe#id# #vitesse4 .selected, .modeListe#id# #vitesse4 i:hover{
            left: 105px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.FanSpeed/FanSpeed.png') -105px 0;
        }
        .modeListe#id# #vitesse5 {
            left: 140px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.FanSpeed/FanSpeed.png') -140px -35px;
        }
        .modeListe#id# #vitesse5 .selected, .modeListe#id# #vitesse5 i:hover{
            left: 140px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.FanSpeed/FanSpeed.png') -140px 0;
        }
    </style>

    <!-- la partie html -->
    <p class='cmdName' style="font-weight: bold;font-size : 12px;">#name#</p>
    <span class="pull-left">
        <ul class="modeListe#id#">
            <li id="vitesse1"><i></i></li>
            <li id="vitesse2"><i></i></li>
            <li id="vitesse3"><i></i></li>
            <li id="vitesse4"><i></i></li>
            <li id="vitesse5"><i></i></li>
        </ul>
    </span>

    <!-- la partie script -->
    <script>
        var vitesseValue = '#state#';
        var vitesseMax = ('#maxValue#'=='') ? 5 : parseInt('#maxValue#');
        if(vitesseMax<5) {
            for(var i=vitesseMax+1;i<=5;i++) {
                $('.cmd[data-cmd_id=#id#] .modeListe#id# #vitesse' + i).hide();
            }
            $('.cmd[data-cmd_id=#id#] .fanSpeed#id#').css("width",175-(35*(5-vitesseMax)) + 'px');
        }

        $('.cmd[data-cmd_id=#id#] .modeListe#id# #vitesse'+vitesseValue+' i').addClass("selected");
        $('.cmd[data-cmd_id=#id#] .modeListe#id# li').each(function() {
            $(this).click(function() {
                var idEnCours = $(this).attr('id');
                $('.cmd[data-cmd_id=#id#] .modeListe#id# #vitesse'+vitesseValue+' i').removeClass("selected");
                $('.cmd[data-cmd_id=#id#] .modeListe#id# #'+idEnCours+' i').addClass("selected");
                jeedom.cmd.execute({id: '#id#', value: {slider: parseInt(idEnCours.replace('vitesse',''))}, notify:true});
            });
        });
    </script>
</div>