<div class="cmd tooltips cmd cmd-widget modePAC#id#" data-type="action" data-subtype="message" data-cmd_id="#id#" data-cmd_uid="#uid#">
    <!-- La partie CSS -->

    <style>
        div.modePAC#id# {
            margin-top: 0px;
            width: 175px;
            min-height: 35px;
            min-width: 175px;
        }
        .modeListe#id# {
            position: relative;
        }
        .modeListe#id# li {
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            top: 0;
        }
        .modeListe#id# li, .modeListe#id# i {
            height: 35px;
            display: block;
        }
        .modeListe#id# #froid {
            left: 0px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.message.ModePAC/modePAC.png') 0 -35px;
        }
        .modeListe#id# #froid .selected, .modeListe#id# #froid i:hover {
            left: 0px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.message.ModePAC/modePAC.png') 0 0;
        }
        .modeListe#id# #sechage {
            left: 35px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.message.ModePAC/modePAC.png') -35px -35px;
        }
        .modeListe#id# #sechage .selected, .modeListe#id# #sechage i:hover{
            left: 35px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.message.ModePAC/modePAC.png') -35px 0;
        }
        .modeListe#id# #ventilation {
            left: 70px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.message.ModePAC/modePAC.png') -70px -35px;
        }
        .modeListe#id# #ventilation .selected, .modeListe#id# #ventilation i:hover{
            left: 70px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.message.ModePAC/modePAC.png') -70px 0;
        }
        .modeListe#id# #chaud {
            left: 105px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.message.ModePAC/modePAC.png') -105px -35px;
        }
        .modeListe#id# #chaud .selected, .modeListe#id# #chaud i:hover{
            left: 105px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.message.ModePAC/modePAC.png') -105px 0;
        }
        .modeListe#id# #auto {
            left: 140px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.message.ModePAC/modePAC.png') -140px -35px;
        }
        .modeListe#id# #auto .selected, .modeListe#id# #auto i:hover{
            left: 140px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.message.ModePAC/modePAC.png') -140px 0;
        }
    </style>

    <!-- la partie html -->
    <p class='cmdName' style="font-weight: bold;font-size : 12px;">#name#</p>
    <span class="pull-left">
        <ul class="modeListe#id#">
            <li id="froid"><i></i></li>
            <li id="sechage"><i></i></li>
            <li id="ventilation"><i></i></li>
            <li id="chaud"><i></i></li>
            <li id="auto"><i></i></li>
        </ul>
        <!--<img class="info iconCmd#id#" width="35px"/>-->
    </span>

    <!-- la partie script -->
    <script>
        var modePAC = '#state#';
        addSelected();
        //OperationMode 1(chaud)-2(froid)-3(rafraichir)-7(ventilation)-8(auto)

        $('.cmd[data-cmd_id=#id#] .modeListe#id# #chaud').click(function() {
            removeSelected();
            modePAC=1;
            addSelected();
            jeedom.cmd.execute({id: '#id#', value: {message: 1}, notify:true});
        });
        $('.cmd[data-cmd_id=#id#] .modeListe#id# #froid').click(function() {
            removeSelected();
            modePAC=2;
            addSelected();
            jeedom.cmd.execute({id: '#id#', value: {message: 2}, notify:true});
        });
        $('.cmd[data-cmd_id=#id#] .modeListe#id# #rafraichir').click(function() {
            removeSelected();
            modePAC=3;
            addSelected();
            jeedom.cmd.execute({id: '#id#', value: {message: 3}, notify:true});
        });
        $('.cmd[data-cmd_id=#id#] .modeListe#id# #ventilation').click(function() {
            removeSelected();
            modePAC=7;
            addSelected();
            jeedom.cmd.execute({id: '#id#', value: {message: 7}, notify:true});
        });
        $('.cmd[data-cmd_id=#id#] .modeListe#id# #auto').click(function() {
            removeSelected();
            modePAC=8;
            addSelected();
            jeedom.cmd.execute({id: '#id#', value: {message: 8}, notify:true});
        });

        function addSelected() {
            switch(modePAC) {
                case '1':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #chaud i').addClass( "selected" );
                    break;
                case '2':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #froid i').addClass( "selected" );
                    break;
                case '3':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #rafraichir i').addClass( "selected" );
                    break;
                case '7':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #ventilation i').addClass( "selected" );
                    break;
                case '8':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #auto i').addClass( "selected" );
                    break;
            }
        }

        function removeSelected() {
            switch(modePAC) {
                case '1':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #chaud i').removeClass( "selected" );
                    break;
                case '2':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #froid i').removeClass( "selected" );
                    break;
                case '3':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #rafraichir i').removeClass( "selected" );
                    break;
                case '7':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #ventilation i').removeClass( "selected" );
                    break;
                case '8':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #auto i').removeClass( "selected" );
                    break;
            }
        }

        /*function miseAJourCommande(valeur) {
            jeedom.cmd.execute({id: '#id#', value: {message: valeur}});
        }*/
    </script>
</div>