<div class="cmd container-fluid tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#">
    <p class='cmdName' style="font-weight: bold;font-size : 12px;">#name#</p>
    <span class="pull-left">
        <img class="info iconCmd#id#" src="plugins/melcloud/core/template/dashboard/cmd.info.numeric.TempImgSimple/thermo.png"/>
        <span class="temp#id#">#state# &#176;C</span>
    </span>
    <style>
        img.iconCmd#id# {
            width:15px;
            height:35px;
        }
        span.temp#id#{
            font-weight: bold;
            font-size : 16px;
        }
    </style>
</div>