<div class="cmd container-fluid tooltips cmd cmd-widget modePAC#id#" data-type="action" data-subtype="numeric" data-cmd_id="#id#">
    <!-- La partie CSS -->

    <style>
        div.modePAC#id# {
            margin-top: 0px;
            width: 175px;
            min-height: 35px;
            min-width: 175px;
        }
        .modeListe#id# {
            position: relative;
        }
        .modeListe#id# li {
            margin: 0;
            padding: 0;
            list-style: none;
            position: absolute;
            top: 0;
        }
        .modeListe#id# li, .modeListe#id# i {
            height: 35px;
            display: block;
        }
        .modeListe#id# #froid {
            left: 0px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.ModePAC/modePAC.png') 0 -35px;
        }
        .modeListe#id# #froid .selected i:hover {
            left: 0px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.ModePAC/modePAC.png') 0 0;
        }
        .modeListe#id# #sechage {
            left: 35px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.ModePAC/modePAC.png') -35px -35px;
        }
        .modeListe#id# #sechage .selected i:hover{
            left: 35px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.ModePAC/modePAC.png') -35px 0;
        }
        .modeListe#id# #ventilation {
            left: 70px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.ModePAC/modePAC.png') -70px -35px;
        }
        .modeListe#id# #ventilation .selected i:hover{
            left: 70px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.ModePAC/modePAC.png') -70px 0;
        }
        .modeListe#id# #chaud {
            left: 105px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.ModePAC/modePAC.png') -105px -35px;
        }
        .modeListe#id# #chaud .selected i:hover{
            left: 105px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.ModePAC/modePAC.png') -105px 0;
        }
        .modeListe#id# #auto {
            left: 140px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.ModePAC/modePAC.png') -140px -35px;
        }
        .modeListe#id# #auto .selected i:hover{
            left: 140px;
            width: 35px;
            background: url('plugins/melcloud/core/template/dashboard/cmd.action.other.ModePAC/modePAC.png') -140px 0;
        }
    </style>

    <!-- la partie html -->
    <p class='cmdName' style="font-weight: bold;font-size : 12px;">#name#</p>
    <span class="pull-left">
        <ul class="modeListe#id#">
            <li id="froid"><i></i></li>
            <li id="sechage"><i></i></li>
            <li id="ventilation"><i></i></li>
            <li id="chaud"><i></i></li>
            <li id="auto"><i></i></li>
        </ul>
        <!--<img class="info iconCmd#id#" width="35px"/>-->
    </span>

    <!-- la partie script -->
    <script>
        var modePAC = '#state#';//OperationMode 1(chaud)-2(froid)-3(rafraichir)-7(ventilation)-8(auto)
        if(modePAC!='') {
            switch(modePAC) {
                case '1':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #chaud').addClass( "selected" );
                    break;
                case '2':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #froid').addClass( "selected" );
                    break;
                case '3':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #rafraichir').addClass( "selected" );
                    break;
                case '7':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #ventilation').addClass( "selected" );
                    break;
                case '8':
                    $('.cmd[data-cmd_id=#id#] .modeListe#id# #auto').addClass( "selected" );
                    break;
            }
        }
        $('.cmd[data-cmd_id=#id#] .modeListe#id# #chaud').click(function() {
            jeedom.cmd.execute({id: '#id#', value: {slider: 1}});
        });
        $('.cmd[data-cmd_id=#id#] .modeListe#id# #froid').click(function() {
            jeedom.cmd.execute({id: '#id#', value: {slider: 2}});
        });
        $('.cmd[data-cmd_id=#id#] .modeListe#id# #rafraichir').click(function() {
            jeedom.cmd.execute({id: '#id#', value: {slider: 3}});
        });
        $('.cmd[data-cmd_id=#id#] .modeListe#id# #ventilation').click(function() {
            jeedom.cmd.execute({id: '#id#', value: {slider: 7}});
        });
        $('.cmd[data-cmd_id=#id#] .modeListe#id# #auto').click(function() {
            jeedom.cmd.execute({id: '#id#', value: {slider: 8}});
        });
    </script>
</div>