<div class="cmd tooltips cmd-widget cursor OnOffLight#id#" style="width:38px;" data-type="action" data-cmd_id="#id#">
    <!-- la partie html -->
    <p class='cmdName' style="font-weight: bold;font-size : 12px;">Power</p>
    <span class="action_OnOffLight#id#" id="iconCmd#id#"></span>
    <style>
        div.OnOffLight#id# {
            margin-top : 0px;
            min-height:35px;
            min-width: 35px;
        }
        img.OnOffLight#id# {
            width: 35px;
            height: 35px;
        }
    </style>
    <script>
        jeedom.cmd.update['#id#'] = function(options) {
            if(options.state == 1 || options.state == '1' ) {
                if (jeedom.cmd.normalizeName(options.name) == 'on') {
                    $('.cmd[data-cmd_id=#id#]').hide();
                } else {
                    $('.cmd[data-cmd_id=#id#]').show();
                    $('#iconCmd#id#').empty().append('<img src="plugins/melcloud/core/template/dashboard/cmd.action.other.OnOffLight/power_on.png" class="OnOffLight#id#" />');
                }
            } else {
                if (jeedom.cmd.normalizeName(options.name) == 'off') {
                    $('.cmd[data-cmd_id=#id#]').hide();
                } else {
                    $('.cmd[data-cmd_id=#id#]').show();
                    $('#iconCmd#id#').empty().append('<img src="plugins/melcloud/core/template/dashboard/cmd.action.other.OnOffLight/power_off.png" class="OnOffLight#id#"/>');
                }
            }
        };
        jeedom.cmd.update['#id#']({name: '#name#', state : #state#});
        $('.cmd[data-cmd_id=#id#] .action_OnOffLight#id#').off();
        $('.cmd[data-cmd_id=#id#] .action_OnOffLight#id#').on('click', function() {
            jeedom.cmd.execute({id: '#id#'});
        });
    </script>
</div>